dash==1.9.0
datatable==0.11.0
pandas_gbq==0.14.0
xlrd==1.2.0
flask_oidc==1.4.0
okta==0.0.4
pandas==1.0.4
numpy==1.18.1
Flask==1.1.2
gunicorn==20.0.4
scikit-learn==0.23.1
pandas-profiling==2.8.0
jupyterlab-dash==0.1.0a3
google-oauth==1.0.1
pyarrow==2.0.0
google-cloud-storage==1.26.0
google-cloud-bigquery==1.24.0
google-auth==1.16.0